*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    width: 100vw;
    height: 4vh;
    background-color: black;
    color: white;
}

main{
    width: 100%;
    height: 87vh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer{
    width: 100%;
    height: 9vh;
    background-color: #222222;
    opacity: 0.85;
    color: white;
    display: flex;
    justify-content: space-between;
}

.impostazioni{
    display: flex;
    justify-content: flex-end;
}

.view{
    border-radius: 8px;
    background-color: #4a4a4a;
    padding: 6px;
    display: inline-flex;
    margin-left: 5px;
}

.utente{
    width: calc( 100% / 7);
    height: calc(100% / 3);
    margin-right: 7px;
    position: relative;
}


.nome-utente{
    color: white;
    background-color: gray;
    border-radius: 5px;
    padding: 3px;
    width: 70%;
    position: absolute;
    top: 65%;
    opacity: 0.8;
}

.flex{
    display: flex;
}

.fa-microphone, .fa-video, .fa-user-plus, .fa-users, .fa-chart-line, .fa-share-from-square, .fa-comment, .fa-record-vinyl, .fa-microsoft, .fa-ellipsis{
    font-size: 200%;
}

.fa-share-from-square{
    color: green;
}

.center{
    align-self: center;
}

.pad{
    padding: 10px;
}

.icons{
    margin-left: 15px;
    text-align: center;
}


.endcall{
    background-color: #4a4a4a;
    align-self: center;
    height: 9vh;
}

.endcall p{
    color: red;
    align-self: center;
}